
venv/
.env
__pycache__/
pretrained_models/
*.wav

# Datasets and manifest files
data/

# Pre-trained and fine-tuned model weights
tmp_model/
models/
*.pth
*.ckpt
*.yaml

models/
# Python Virtual Environment
venv/
env/

# Audio Data & Temporary Files
data/
tmp_challenge_*.wav
*.pth
*.onnx
