# --- ROOT & SECRETS ---
.env
.DS_Store

# --- BACKEND DIRECTORIES ---
backend/venv/
backend/env/
backend/__pycache__/
__pycache__/
backend/data/
backend/tmp_model/
backend/pretrained_models/
backend/models/

# --- BACKEND FILE EXTENSIONS ---
*.wav
*.pth
*.ckpt
*.yaml
*.onnx

# --- FRONTEND DIRECTORIES ---
frontend/node_modules/
frontend/build/
frontend/.env